@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This Is The Project 3, Home Page</h1>
</div>
<div>
    <p>This is the "View" for the "HomeController" "Index()" Action method.</p>
    <p>In this view you should place the following:</p>
    <ul>
        <li>A ViewData["Title"] appropriate to the page, see line 2, of the view "Index.cshtml" for the "HomeController".</li>
        <li>A photograph, in an "img tag," of some aspect of RIT life or the campus</li>
        <li>Some text information about RIT: use the "ist.rit.edu/api/about/" end point.</li>
    </ul>
</div>
