@model Project3_FinalExam.ViewModels.CoOpViewModel

<h2>@Model.Title</h2>

<div id="jsGrid"></div>

<script src="~/jquery/jquery.js"></script>
<script src="~/jqueryui/jquery-ui.js"></script>
@*Get jsGrid scripts from wwwroot*@
<link href="~/jsgrid/jsgrid.min.css" rel="stylesheet" type="text/css" />
<link href="~/jsgrid/jsgrid-theme.min.css" rel="stylesheet" type="text/css" />
<script src="~/jsgrid/jsgrid.min.js"></script>

<script>

    $("#jsGrid").jsGrid({
        data: @Html.Raw(Json.Serialize(Model.CoOpTables)),
        width: "100%",
        height: "400px",

        sorting: true,
        paging: true,

        fields: [
            { name: "employer", type: "text" },
            { name: "degree", type: "text" },
            { name: "city", type: "text" },
            { name: "term", type: "text" }
        ]
    });

</script>