@model Project3_FinalExam.ViewModels.EmploymentViewModel

@{
    ViewData["Title"] = "Employment";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div id="table-div">

    <h1 class="title">Employment Options</h1>
    <div id="jsGrid"></div>

</div>

<script src="~/jquery/jquery.js"></script>
<script src="~/jqueryui/jquery-ui.js"></script>
@*Get jsGrid scripts from wwwroot*@
<link href="~/jsgrid/jsgrid.min.css" rel="stylesheet" type="text/css" />
<link href="~/jsgrid/jsgrid-theme.min.css" rel="stylesheet" type="text/css" />
<script src="~/jsgrid/jsgrid.min.js"></script>
<link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />

<script>

    $("#jsGrid").jsGrid({
        data: @Html.Raw(Json.Serialize(Model.EmploymentTables)),
        width: "100%",
        height: "600px",

        sorting: true,
        paging: true,

        fields: [
            { name: "employer", type: "text" },
            { name: "degree", type: "text" },
            { name: "city", type: "text" },
            { name: "title", type: "text" },
            { name: "startDate", type: "text", title: "start date" }
        ]
    });

</script>