/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}




.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;

}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: radial-gradient(circle at center center, rgb(249, 249, 249),rgb(167, 167, 167));
}
    .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*
    ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    Styles for 'Index.cshtml' page
    ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
#homepage-image {

    margin: 4vh auto 8vh auto;
    width: 55vw;
    display: block;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
    border-width:thick;
    
}

#homepage-RIT {
    color: #F76902;
}

#homepage-quote {
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin: 5vh 5vh 0 5vh;
}

#homepage-quote-author {
    text-align: end;
    color: #818486;
    font-size: 25px;
    width: 100%;
    padding-right: 5vh;
    display: block;
}


#index-div {

    margin: 5vh;

}

#paragraph-div{
    color: black;
}

#info-div{
    background-color:white;
    border:ridge;
    border-color: orange;
    
    border-left-color:orange;
}

/*
    ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    Styles for 'GetFaculty.cshtml' page
    ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

#faculty-div {
    margin: 5vh;
   
}

#faculty-img {
    border-radius: 100px;
    border-style: solid;
    border-width: 5px;
}

#faculty-name{
    margin-left: 20px;
    font-size:medium;
    margin-top: 20px;
}

/*
    ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    Styles for 'Grad.cshtml' page
    ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

#graduate-div {
    margin: 5vh;
}

/*
    ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    Styles for 'Under.cshtml' page
    ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

#under-div {

    margin: 5vh;

}

/*
    ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    Styles common to multiple pages
    ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
.jsgrid-cell {

    padding: 20px !important;

}
.title {
    color: #F76902;
    font-weight: bold;
    margin-bottom: 2vh;
}
.paragraph {
    color: #76797c;
}
.footer{
    background-color:white;
}
#table-div {
    margin: 5vh;
}
.ui-accordion-header {
    background: #d3d6d2 !important;
    border: 1px solid #d3d6d2 !important;
    color: black !important;
    font-size: 25px !important;
}

.ui-widget-content {
    border: 1px solid #eef0ed !important;
    background: #eef0ed !important;
    color: black !important;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0 !important;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0 !important;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0 !important;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0 !important;
}
